.jumbotron {
	margin-top: 0px;
	height: 80%;
	margin-left: 0px;
	background-color: rgba(64, 82, 161,1);
	/*opacity:0.9;*/
	/*filter: alpha(opacity=70);*/
	/*background-image: url('/assets/luna.png');*/
}
.jumbotron .container {
	margin-top: 100px;
	width: 80%;
}
.jumbotron .container h1,
.jumbotron .container p {
	color: white;
	text-align: center;
}

.jumbotron .container a {
	color: rgba(209, 194, 198, .8);
}