<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ site.url }}/twitter_assets/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">
  </head>
  <!-- <body> -->
    <div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Gabe Fuentes</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li {% if page.url == "/index.html" %}class="active"{% endif %}><a href="/">Home</a></li>
                <li {% if page.url == "/blog.html" %}class="active"{% endif %}><a href="/blog.html">Blog</a></li>
                <li {% if page.url == "/about.html" %}class="active"{% endif %}><a href="/about.html#contact">About</a></li>
                <li {% if page.url == "/contact.html" %}class="active"{% endif %}><a href="/contact.html">Contact</a></li>
                <li {% if page.url == "/sources.html" %}class="active"{% endif %}><a href="/sources.html">Sources</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
<!-- </body> -->
<!-- </html> -->