<head>
  <title>{{ page.title }} | Gabe Fuentes</title>
</head>
  {% include header.html %}
<body>
  <div class="jumbotron">
  <div class="container">
    <h1>{{ page.title }}</h1>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="blog-header">
    </div>

      <div class="col-md-9 blog-main col-md-offset-2" align="justify">

        <div class="blog-post">
          {{ content }}
        </div><!-- /.blog-post -->
      {% if page.path contains "_posts/" %}
        <ul class="pager">
          {% if page.previous %}
            <li><a href="{{ page.previous.url }}">Previous</a></li>
          {% endif %}
          {% if page.next %}
            <li><a href="{{ page.next.url }}">Next</a></li>
          {% endif %}
        </ul>
      {% endif %}
      </div><!-- /.blog-main -->

    </div><!-- /.row -->

  </div><!-- /.container -->
</body>
{% include footer.html %}
<link href="{{ site.url }}/twitter_assets/css/navbar-static-top.css" rel="stylesheet">
<link href="{{ site.url }}/twitter_assets/css/blog.css" rel="stylesheet">
<link href="{{ site.url }}/twitter_assets/css/jumbotron_default.css" rel="stylesheet">
<link href="{{ site.url }}/twitter_assets/css/post.css" rel="stylesheet">
